<div class="panel panel-default">
    <div class="panel-body">

        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-sm-10">
                            <input class="form-control" type="number" placeholder="Enter employee id" [(ngModel)]="emp.empNo" (ngModelChange)="loadOnEmpIdChange(emp.empNo)">
                        </div>
                    </div>
                    <div class="row">
                        <div *ngIf="isValidEmp" class="col-sm-10">
                            <h3>Employee Data</h3>
                            <hr>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="fa fa-user-circle" aria-hidden="true" title="Employee Id"></i>
                                    </span>{{emp.empName}}</li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="fa fa-id-card" aria-hidden="true" title="Employee Designation"></i>
                                    </span>{{emp.designation}}</li>
                            </ul>
                        </div>
                    </div>
                    <div *ngIf="isValidEmp" class="row">
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-default" title="View">
                                View submitted
                                <span class="badge">
                                    <i class="fa fa-id-card" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="container" *ngIf="enableParticularsComponent">
                            <app-r-particulars-form [empId]="emp.empNo"></app-r-particulars-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>