.rf-space-form {
    width: 52%;
}

.rf-spacer-top {
    margin-top: 10px;
}

.rf-spacer-bottom {
    margin-bottom: 10px;
}

.rf-spacer-left {
    margin-left: 10px;
}

.particularsGrid {
    width: 50%;
}

.no-border {
    border: none;
}

.hide {
    display: none;
}